@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

* {
  font-family: "Nova Mono";
}

h1 {
  color: #672100;
}

p {
  color: #f2576f;
}

.pink-body {
  background-color: #f46c8130;
}

.white-body {
  padding: 50px;
  width: 80%;
  height: auto;
  background: #ffffff;
  border-radius: 38px;
}

.form-label {
  color: #f2576f;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #672100;
  color: white;
}

footer {
  background: #fdccb4;
  color: white;
}
